<h1>Adicionar Livro</h1>
<a href="/books">Livrdos Cadastrados</a>

<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Insira o títlulo">
    </div>
        <div class="form-control">
        <label for="pagety">Numero de páginas</label>
        <input type="number" name="pagety" placeholder="Quantas páginas o livro tem?">
    </div>
    <input type="submit" value="Cadastrar">
</form>